<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <!-- 读取spring 上下文环境信息-->
    <springProperty scope="context" name="env.logger.level" source="env.logger.level" defaultValue="INFO"/>
                   
    <!-- console日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [ %thread] %logger{36} [L:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>

   <root level="${env.logger.level}">
            <appender-ref ref="STDOUT"/>
   </root>

</configuration>